.list-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  color: #333;
  background: #fff;
  transition: color 0.1s ease-out;
  grid-column-start: span 1;
  flex-direction: column;
  cursor: -webkit-grab;
  cursor: grab;

  &-icon {
    display: inline-block;
    margin: 12px 0;
    text-align: center;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-transform: none;
    vertical-align: -0.125 em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  &-text {
    margin-bottom: 12px;
    font-size: 12px;
    text-align: center;
    line-height: 1;
  }

  &:hover {
    z-index: 5;
    color: #1890ff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  }
}
