.c-w-full {
  width: 100%;
}

.c-w-min-full {
  min-width: 100%;
}

.c-flex {
  display: flex;
}

.c-flex-direction-row {
  flex-direction: row;
}

.c-flex-direction-column {
  flex-direction: column;
}

.c-flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.c-flex-direction-column-reverse {
  flex-direction: column-reverse;
}

.c-flex-wrap-nowrap {
  flex-wrap: nowrap;
}

.c-flex-wrap-wrap {
  flex-wrap: wrap;
}

.c-flex-wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.c-justify-content-center {
  justify-content: center;
}

.c-justify-content-flex-start {
  justify-content: flex-start;
}

.c-justify-content-flex-end {
  justify-content: flex-end;
}

.c-justify-content-space-between {
  justify-content: space-between;
}

.c-justify-content-space-around {
  justify-content: space-around;
}

.c-justify-content-space-evenly {
  justify-content: space-evenly;
}

.c-align-items-stretch {
  align-items: stretch;
}

.c-align-items-flex-start {
  align-items: flex-start;
}

.c-align-items-flex-end {
  align-items: flex-end;
}

.c-align-items-center {
  align-items: center;
}

.c-align-content-center {
  align-content: center;
}

.c-align-content-flex-start {
  align-content: flex-start;
}

.c-align-content-flex-end {
  align-content: flex-end;
}

.c-align-content-stretch {
  align-content: stretch;
}

.c-align-content-space-between {
  align-content: space-between;
}

.c-align-content-space-around {
  align-content: space-around;
}
