.c-table-pro {
  .flex {
    display: flex;
  }

  .justify-between {
    justify-content: space-between;
  }

  .mb-4 {
    margin-bottom: 16px;
  }

  .c-table-pro-btn__col {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .c-table-pro-item__label--no {
    .el-form-item__label {
      display: none;
    }

    .el-form-item__content {
      margin-left: 0 !important;
    }
  }

  .c-table-pro-item__label--left {
    margin-right: 50px;
  }

  .c-table-pro-item__label--middle {
    margin-right: 25px;
    margin-left: 25px;
  }

  .c-table-pro-item__label--right {
    margin-left: 50px;
  }

  .c-table-pro-item-md__label--right {
    margin-left: 25px;
  }

  .c-table-pro-item-md__label--left {
    margin-right: 25px;
  }

  .c-button-col__container {
    padding-top: 1px;
  }

  .c-icon__arrow {
    transform: rotate(180deg);
    transform-origin: center center;
  }
}

.c-toggle__container {
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;

  .c-toggle__icon {
    color: #409eff;
    transition: transform 0.2s;
  }

  // .c-toggle__button {
  //   padding: 0;
  //   line-height: 27px;
  //   height: 28px;
  // }
}
