.view-port {
  input,
  textarea,
  .el-input__wrapper,
  .el-select__icon,
  .el-input__suffix-inner,
  .el-switch,
  .el-select,
  .el-radio,
  .el-checkbox,
  .el-slider,
  .el-date-editor,
  .el-button,
  .el-rate,
  .c-toggle__container,
  .el-pagination--small,
  .el-input-number__decrease,
  .el-select-v2,
  .z-table-tool-bar__container,
  .el-form-item__label,
  .z-form-toggle,
  .el-input-number__increase {
    pointer-events: none !important;
  }

  .el-input__prefix-inner {
    pointer-events: none !important;
  }
}

.el-input-number, .el-select-v2 {
  width: 100%;
}

.form-item-options__container {
  flex-direction: column;

  > label {
    margin-bottom: 8px;
  }
}

body {
  --primary-color: #2254f4;
}
