::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;

  // background-color: black;
  transition: all 0.25s ease-in-out;
}

.workspace-ghost {
  box-sizing: border-box;
  height: 3px;
  padding: 0;
  overflow: hidden;
  font-size: 0;
  content: '';
  background: #409eff;
  border: 2px solid #409eff;
  outline-width: 0;
}

.ghost {
  box-sizing: border-box;
  height: 3px;
  padding: 0;
  overflow: hidden;
  font-size: 0;
  content: '';
  background: #409eff;
  border: 2px solid #409eff;
  outline-width: 0;
}

.table-col__ghost {
  box-sizing: border-box;
  height: 3px;
  padding: 0;
  overflow: hidden;
  font-size: 0;
  content: '';
  background: #409eff;
  border: 3px solid #409eff;
  border-left: 0;
  outline-width: 0;
}

.chosen {
  border: 0;
}

.array-form {
  padding: 20px;
  padding-bottom: 2px;
  overflow: hidden;
  color: #303133;
  background-color: #FFF;
  border: 1px solid #e4e7ed;
  border-radius: 4px;

  .el-form-item {
    margin-bottom: 18px;
  }
}

.drawer__body, .composite-panel-tabs {
  .iconfont {
    font-size: 24px !important;
  }

  .icon-shijianxuanze2 {
    font-size: 18px !important;
  }
}



// .dragArea {
//   .iconfont {
//     font-size: 12px !important;
//   }
// }
