.aux-button {
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 3px;
  font-size: 12px !important;
  color: #fff; //#fff
  background: #2254f4; //#2254f4
  border-color: #2254f4; //#2254f4

  &:hover,
  &:focus {
    color: #fff; //#fff
    background: #40a9ff; //#40a9ff
    border-color: #40a9ff; //#40a9ff
  }

  &:active {
    color: #fff; //#fff
    background: #096dd9; //#096dd9
    border-color: #096dd9; //#096dd9
  }

  .el-icon {
    font-size: 12px;
  }
}

.el-button {
  border-radius: 0%;
}

.el-button--small {
  min-height: 20px;
}

.el-button + .el-button {
  margin-left: 0;
}

.inline-column-operation {
  .el-button + .el-button {
    margin-left: 12px !important;
  }
}

@keyframes animate-slide-to-top {
  from {
    opacity: 0%;
    transform: translateY(-10%);
  }

  to {
    opacity: 80%;
    transform: translateY(0);
  }
}

.selector-menu {
  opacity: 80%;
  animation: animate-slide-to-top 0.2s;
}
