@font-face {
  font-family: "iconfont"; /* Project id 4701476 */
  src: url('iconfont.woff2?t=1727962963835') format('woff2'),
       url('iconfont.woff?t=1727962963835') format('woff'),
       url('iconfont.ttf?t=1727962963835') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoge:before {
  content: "\e66d";
}

.icon-riqiqujian:before {
  content: "\e671";
}

.icon-riqi:before {
  content: "\e670";
}

.icon-danhangshurukuang:before {
  content: "\e692";
}

.icon-duoxuan:before {
  content: "\e693";
}

.icon-danxuan:before {
  content: "\e694";
}

.icon-duohangshurukuang:before {
  content: "\e695";
}

.icon-kaiguan:before {
  content: "\e696";
}

.icon-xialadanxuan:before {
  content: "\e69e";
}

.icon-zhixiang-houtui:before {
  content: "\e730";
}

.icon-zhixiang-qianjin:before {
  content: "\e731";
}

.icon-fuhao-shuzishurukuang:before {
  content: "\e630";
}

